*, *::before, *::after {
        box-sizing: border-box;
}

$font-one: 'Montserrat', sans-serif;
$font-two: 'WindSong', cursive;


.navigation ul li a {
    text-decoration: none;
    color: black;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.navigation div div {
    font-family: $font-two;
    font-size: 35px;
    color: #fdcb6e;
}

.navigation {
    background-image: url('https://images.pexels.com/photos/8960464/pexels-photo-8960464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    
}
.navigation li {
    display: inline;
    list-style-type: none;
    padding: 0 15px;
    margin: 0;
    text-decoration: none;
}

.splash {
    text-align: center;
}


.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
.page-title {
	
 	font-size: 50px;
    margin: 48px 0 0 0;
    font-family: $font-one;
    }
.page-subtitle {
    
    font-size: 40px;
    margin: 18px 0 0 0;
    padding-top: 25px;
    font-family: $font-two;
    }
.btn {
    display: inline-block;
    margin: 20px;
    padding: 16px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #fdcb6e;
    border: none;
    background-size: 100%;
    }
.service-title {
	text-align: center;
    font-family: $font-one;
    font-size: 40px;
    }
.service-subtitle {
	text-align: center;
	margin-bottom: 50px;
    font-family: $font-two;
    font-size: 20px;
    margin-top: 5px;
    }
.services {
	padding: 60px 0;
    }

.card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover; 
  }
.portfolio .card-body {
	text-align: center;
	line-height: 0.3;
    }

.portfolio {
    padding: 100px 0;
}

footer {
    text-align: center;
    margin-top: 40px;
    }
footer ul {
    margin: auto;
    list-style-type: none;
    display: inline-flex;
    }
footer li {
    font-size: 20px;
    padding: 0 5px;
    margin: auto;
    }
 
 .fab {
    background-color: black;
    height: 30px;
    width: 30px;
    font-size: 15px;
    line-height: 30px !important;
    color: white;
    border-radius: 50%;
    }
.card-body {
    border: solid;
    border-color: white;
    }
.portfolio-card {
    margin-top: 40px;
    }
.card {
    background: white;
    }

.portfolio {
    background: #82ccdd;
    }

.first-element {
    margin-left: 160px;
    text-align: center;
    background-color: #fdcb6e;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 65px !important;
    color: white;
    border-radius: 50%; 
    }
.card-body-first h3 {
    text-align: center;
    }
.card-body p {
    font-family: $font-two;
    }



















